 <div class="container">
                <input type="text" id="myCustomSearchBox" class="form-control" placeholder="Search Anything Here">
        </div>
        <!--Container Ends Here-->
     
        <!--datatable div starts here-->
        <div style="margin-top: 30px">
            <table id="myTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Platform</th>
                        <th>Rating</th>
                        <th>Year</th>
                        </tr>
                </thead>
     
                <tbody>
                    
		
<tr>	<td>	Red Dead Redemption 2	</td>	<td>	Rockstar Games	</td>	<td>	PS4, XBO	</td>	<td>	97	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	God of War	</td>	<td>	Sony Interactive Entertainment	</td>	<td>	PS4	</td>	<td>	94	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Super Smash Bros. Ultimate	</td>	<td>	Nintendo	</td>	<td>	NS	</td>	<td>	92	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Forza Horizon 4	</td>	<td>	Xbox Game Studios	</td>	<td>	Win, XBO	</td>	<td>	92	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Divinity: Original Sin II - Definitive Edition	</td>	<td>	Larian Studios	</td>	<td>	PS4, XBO	</td>	<td>	92	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Bayonetta 2	</td>	<td>	Nintendo	</td>	<td>	NS	</td>	<td>	92	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Celeste	</td>	<td>	Matt Makes Games	</td>	<td>	Win, PS4, NS, XBO	</td>	<td>	91	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Inside	</td>	<td>	Playdead	</td>	<td>	NS	</td>	<td>	91	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Sonic Mania Plus	</td>	<td>	Sega	</td>	<td>	NS	</td>	<td>	91	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Dead Cells	</td>	<td>	Motion Twin	</td>	<td>	Win, PS4, NS, XBO	</td>	<td>	91	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Shadow of the Colossus	</td>	<td>	Sony Interactive Entertainment	</td>	<td>	PS4	</td>	<td>	91	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Nier: Automata Become As Gods Edition	</td>	<td>	Square Enix	</td>	<td>	XBO	</td>	<td>	90	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Monster Hunter: World	</td>	<td>	Capcom	</td>	<td>	Win, PS4, XBO	</td>	<td>	90	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Hollow Knight	</td>	<td>	Team Cherry	</td>	<td>	NS	</td>	<td>	90	</td>	<td>	2018	</td>	</tr>
<tr>	<td>	Astro Bot Rescue Mission	</td>	<td>	Sony Interactive Entertainment	</td>	<td>	PS4	</td>	<td>	90	</td>	<td>	2018	</td>	</tr>
																
<tr>	<td>	Divinity: Original Sin II - Definitive Edition	</td>	<td>	Larian Studios	</td>	<td>	NS	</td>	<td>	97	</td>	<td>	2019	</td>	</tr>
<tr>	<td>	Red Dead Redemption 2	</td>	<td>	Rockstar Games	</td>	<td>	Win	</td>	<td>	94	</td>	<td>	2019	</td>	</tr>
<tr>	<td>	Resident Evil 2	</td>	<td>	Capcom	</td>	<td>	XBO	</td>	<td>	92	</td>	<td>	2019	</td>	</tr>
<tr>	<td>	Sekiro: Shadows Die Twice	</td>	<td>	Activision	</td>	<td>	XBO	</td>	<td>	92	</td>	<td>	2019	</td>	</tr>
<tr>	<td>	Final Fantasy XIV: Shadowbringers	</td>	<td>	Square Enix	</td>	<td>	Win, PS4	</td>	<td>	92	</td>	<td>	2019	</td>	</tr>
<tr>	<td>	Dragon Quest XI S: Echoes of an Elusive Age - Definitive Edition	</td>	<td>	Square Enix	</td>	<td>	NS	</td>	<td>	92	</td>	<td>	2019	</td>	</tr>
<tr>	<td>	Disco Elysium	</td>	<td>	ZA/UM	</td>	<td>	Win	</td>	<td>	91	</td>	<td>	2019	</td>	</tr>
<tr>	<td>	Nier: Automata - Game of the Yorha Edition	</td>	<td>	Square Enix	</td>	<td>	PS4	</td>	<td>	91	</td>	<td>	2019	</td>	</tr>
<tr>	<td>	Resident Evil 2	</td>	<td>	Capcom	</td>	<td>	PS4	</td>	<td>	91	</td>	<td>	2019	</td>	</tr>
<tr>	<td>	Monster Hunter: World - Iceborne	</td>	<td>	Capcom	</td>	<td>	XBO	</td>	<td>	91	</td>	<td>	2019	</td>	</tr>
<tr>	<td>	Tetris Effect	</td>	<td>	Enhance Games	</td>	<td>	Win	</td>	<td>	91	</td>	<td>	2019	</td>	</tr>
<tr>	<td>	Sekiro: Shadows Die Twice	</td>	<td>	Activision	</td>	<td>	PS4	</td>	<td>	90	</td>	<td>	2019	</td>	</tr>
																
<tr>	<td>	Persona 5 Royal	</td>	<td>	Atlus / Sega	</td>	<td>	PS4	</td>	<td>	97	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	The Last of Us Part II	</td>	<td>	Sony Interactive Entertainment	</td>	<td>	PS4	</td>	<td>	94	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Hades	</td>	<td>	Supergiant Games	</td>	<td>	Win	</td>	<td>	92	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Hades	</td>	<td>	Supergiant Games	</td>	<td>	NS	</td>	<td>	92	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Half-Life: Alyx	</td>	<td>	Valve	</td>	<td>	Win, Lin	</td>	<td>	92	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Dragon Quest XI S: Echoes of an Elusive Age - Definitive Edition	</td>	<td>	Square Enix	</td>	<td>	PS4	</td>	<td>	92	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Ori and the Will of the Wisps	</td>	<td>	Iam8bit	</td>	<td>	NS	</td>	<td>	91	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Demon's Souls	</td>	<td>	Sony Interactive Entertainment	</td>	<td>	PS5	</td>	<td>	91	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Microsoft Flight Simulator	</td>	<td>	Xbox Game Studios	</td>	<td>	Win	</td>	<td>	91	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Dragon Quest XI S: Echoes of an Elusive Age - Definitive Edition	</td>	<td>	Square Enix	</td>	<td>	XBO	</td>	<td>	91	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Crusader Kings III	</td>	<td>	Paradox Interactive	</td>	<td>	Win, Lin	</td>	<td>	91	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	F1 2020	</td>	<td>	Codemasters	</td>	<td>	XBO	</td>	<td>	90	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Spelunky 2	</td>	<td>	Mossmouth	</td>	<td>	Win	</td>	<td>	90	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Animal Crossing: New Horizons	</td>	<td>	Nintendo	</td>	<td>	NS	</td>	<td>	90	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Ori and the Will of the Wisps	</td>	<td>	Xbox Game Studios	</td>	<td>	XBO	</td>	<td>	90	</td>	<td>	2020	</td>	</tr>
<tr>	<td>	Yakuza 0	</td>	<td>	Sega	</td>	<td>	XBO	</td>	<td>		</td>	<td>	2020	</td>	</tr>
																
<tr>	<td>	Werewolf: The Apocalypse – Heart of the Forest	</td>	<td>	Walkabout Games	</td>	<td>	NS	</td>	<td>	97	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Iris.Fall	</td>	<td>	PM Studios	</td>	<td>	NS, PS4, XBO	</td>	<td>	94	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Five Nights at Freddy's: Core Collection	</td>	<td>	Maximum Games	</td>	<td>	NS, PS4, XBO	</td>	<td>	92	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	MXGP 2020	</td>	<td>	Milestone	</td>	<td>	PS5	</td>	<td>	92	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Scott Pilgrim vs. the World: The Game – Complete Edition	</td>	<td>	Ubisoft	</td>	<td>	Win, NS, PS4, XBO, Stadia	</td>	<td>	92	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Hitman 3	</td>	<td>	IO Interactive	</td>	<td>	Win, NS, PS4, PS5, XBO, XSX, Stadia	</td>	<td>	92	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Ride 4	</td>	<td>	Milestone	</td>	<td>	PS5, XSX	</td>	<td>	91	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Skul: The Hero Slayer	</td>	<td>	Neowiz	</td>	<td>	Win	</td>	<td>	91	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Bladed Fury	</td>	<td>	PM Studios	</td>	<td>	NS, PS4, XBO	</td>	<td>	91	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Woodsalt	</td>	<td>	Team Woodsalt	</td>	<td>	Win	</td>	<td>	91	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Age of Empires II: Definitive Edition – Lords of the West	</td>	<td>	Xbox Game Studios	</td>	<td>	Win	</td>	<td>	91	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Atelier Ryza 2: Lost Legends and the Secret Fairy	</td>	<td>	Koei Tecmo	</td>	<td>	Win, NS, PS4, PS5	</td>	<td>	90	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Fearless and United Guards	</td>	<td>	nCore Games	</td>	<td>	Droid	</td>	<td>	90	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Cyber Shadow	</td>	<td>	Yacht Club Games	</td>	<td>	Win, NS, PS4, PS5, XBO	</td>	<td>	90	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Dragon Quest Tact	</td>	<td>	Square Enix	</td>	<td>	iOS, Droid	</td>	<td>	90	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Disgaea 6: Defiance of Destiny	</td>	<td>	Nippon Ichi Software	</td>	<td>	NS, PS4	</td>	<td>	90	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Gal*Gun Returns	</td>	<td>	Inti Creates	</td>	<td>	NS	</td>	<td>	90	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Märchen Forest: Mylne and the Forest Gift	</td>	<td>	Clouded Leopard Entertainment	</td>	<td>	Win, NS, PS4	</td>	<td>	90	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	The Medium	</td>	<td>	Bloober Team SA	</td>	<td>	Win, XSX	</td>	<td>	90	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Mobile Suit Gundam: Battle Operation 2	</td>	<td>	Bandai Namco Entertainment	</td>	<td>	PS5	</td>	<td>	90	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Olija	</td>	<td>	Devolver Digital	</td>	<td>	Win, NS, PS4, XBO	</td>	<td>	90	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Sword of the Necromancer	</td>	<td>	JanduSoft	</td>	<td>	Win, NS, PS4, XBO	</td>	<td>	90	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	The Yakuza Remastered Collection	</td>	<td>	Sega	</td>	<td>	Win, XBO	</td>	<td>	90	</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Bonkies	</td>	<td>	Crunching Koalas	</td>	<td>	Win, NS, PS4, XBO	</td>	<td>		</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Buddy Mission: Bond	</td>	<td>	Nintendo	</td>	<td>	NS	</td>	<td>		</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Gods Will Fall	</td>	<td>	Deep Silver	</td>	<td>	Win, NS, PS4, XBO, Stadia	</td>	<td>		</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	The Pedestrian	</td>	<td>	Skookum Arts LLC	</td>	<td>	PS4, PS5	</td>	<td>		</td>	<td>	Jan-21	</td>	</tr>
<tr>	<td>	Re:Zero − Starting Life in Another World: The Prophecy of the Throne	</td>	<td>	Spike Chunsoft	</td>	<td>	Win, NS, PS4	</td>	<td>		</td>	<td>	Jan-21	</td>	</tr>
																
<tr>	<td>	Control: Ultimate Edition	</td>	<td>	505 Games	</td>	<td>	PS5, XSX	</td>	<td>	97	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Cultist Simulator	</td>	<td>	Playdigious	</td>	<td>	NS	</td>	<td>	94	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Destruction AllStars	</td>	<td>	Sony Interactive Entertainment	</td>	<td>	PS5	</td>	<td>	92	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Ys IX: Monstrum Nox	</td>	<td>	NIS America	</td>	<td>	PS4	</td>	<td>	92	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Habroxia 2	</td>	<td>	Lillymo Games / EastAsiaSoft	</td>	<td>	Win, PS4, Vita, XBO, NS	</td>	<td>	92	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Haven	</td>	<td>	The Game Bakers	</td>	<td>	NS, PS4	</td>	<td>	92	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Skyforge	</td>	<td>	My.com	</td>	<td>	NS	</td>	<td>	91	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Werewolf: The Apocalypse – Earthblood	</td>	<td>	Nacon	</td>	<td>	Win, PS4, PS5, XBO, XSX	</td>	<td>	91	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Bokuhime Project	</td>	<td>	Nippon Ichi Software	</td>	<td>	Win	</td>	<td>	91	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Nioh Remastered - The Complete Edition	</td>	<td>	Sony Interactive Entertainment	</td>	<td>	PS5	</td>	<td>	91	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Nioh 2 - The Complete Edition	</td>	<td>	Sony Interactive Entertainment / Koei Tecmo	</td>	<td>	Win, PS4	</td>	<td>	91	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Nioh 2 Remastered - The Complete Edition	</td>	<td>	Sony Interactive Entertainment	</td>	<td>	PS5	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Little Nightmares II	</td>	<td>	Bandai Namco Entertainment	</td>	<td>	Win, NS, PS4, XBO	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Gal*Gun Returns	</td>	<td>	PQube	</td>	<td>	Win, NS	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Super Mario 3D World + Bowser's Fury	</td>	<td>	Nintendo	</td>	<td>	NS	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Azur Lane: Crosswave	</td>	<td>	Idea Factory International	</td>	<td>	NS	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Fallen Legion: Revenants	</td>	<td>	NIS America	</td>	<td>	NS, PS4	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Speed Limit	</td>	<td>	Chorus Worldwide	</td>	<td>	PS4	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Capcom Arcade Stadium	</td>	<td>	Capcom	</td>	<td>	NS	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	SNK vs. Capcom: The Match of the Millennium	</td>	<td>	SNK	</td>	<td>	NS	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Speed Limit	</td>	<td>	Chorus Worldwide	</td>	<td>	Win	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	The 25th Ward: The Silver Case	</td>	<td>	Playism	</td>	<td>	NS	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Anodyne 2: Return to Dust	</td>	<td>	Ratalaika Games	</td>	<td>	NS, PS4, PS5, XBO, XSX	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Speed Limit	</td>	<td>	Chorus Worldwide	</td>	<td>	NS	</td>	<td>	90	</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	The Silver Case	</td>	<td>	Playism	</td>	<td>	NS	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Void Terrarium Plus	</td>	<td>	Nippon Ichi Software	</td>	<td>	PS5	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Speed Limit	</td>	<td>	Chorus Worldwide	</td>	<td>	XBO	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Thomas Was Alone	</td>	<td>	Ant Workshop	</td>	<td>	NS	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Curse of the Dead Gods	</td>	<td>	Focus Home Interactive	</td>	<td>	Win, NS, PS4, XBO	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Horned Knight	</td>	<td>	2Awesome Studio	</td>	<td>	PS4	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Persona 5 Strikers	</td>	<td>	Atlus	</td>	<td>	Win, NS, PS4	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Rogue Heroes: Ruins of Tasos	</td>	<td>	Team17	</td>	<td>	Win, NS	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	We Were Here series	</td>	<td>	Total Mayhem Games	</td>	<td>	PS4, PS5	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Horned Knight	</td>	<td>	2Awesome Studio	</td>	<td>	XBO	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Cotton Reboot!	</td>	<td>	Beep	</td>	<td>	NS, PS4	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Darius Cozmic Revelation	</td>	<td>	Taito	</td>	<td>	NS, PS4	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Forward to the Sky	</td>	<td>	Cosen	</td>	<td>	NS	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Ghosts 'n Goblins Resurrection	</td>	<td>	Capcom	</td>	<td>	NS	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Hellpoint	</td>	<td>	tinyBuild	</td>	<td>	NS	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Yakuza: Like a Dragon	</td>	<td>	Sega	</td>	<td>	Win, XBO, XSX	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Bravely Default 2	</td>	<td>	Nintendo	</td>	<td>	NS	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Horned Knight	</td>	<td>	2Awesome Studio	</td>	<td>	Win, NS	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
<tr>	<td>	Rhythm Doctor	</td>	<td>	7th Beat Games	</td>	<td>	Win, Mac	</td>	<td>		</td>	<td>	Feb-21	</td>	</tr>
																
<tr>	<td>	Harvest Moon: One World	</td>	<td>	Natsume	</td>	<td>	NS, PS4	</td>	<td>	97	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Neptunia Virtual Stars	</td>	<td>	Idea Factory International	</td>	<td>	PS4	</td>	<td>	94	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Maquette	</td>	<td>	Annapurna Interactive	</td>	<td>	Win, PS4, PS5	</td>	<td>	92	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Yakuza: Like a Dragon	</td>	<td>	Sega	</td>	<td>	PS5	</td>	<td>	92	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Ar Nosurge DX	</td>	<td>	Koei Tecmo	</td>	<td>	Win, NS, PS4	</td>	<td>	92	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Ciel Nosurge DX	</td>	<td>	Koei Tecmo	</td>	<td>	Win, NS, PS4	</td>	<td>	92	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	EverHood	</td>	<td>	Foreign Gnomes, Surefire	</td>	<td>	Win, NS	</td>	<td>	91	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Gnosia	</td>	<td>	Playism	</td>	<td>	NS	</td>	<td>	91	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Loop Hero	</td>	<td>	Devolver Digital	</td>	<td>	Win, Mac, Lin	</td>	<td>	91	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Mortal Shell: Enhanced Edition	</td>	<td>	Playstack	</td>	<td>	PS5, XSX	</td>	<td>	91	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Sea of Solitude: Director's Cut	</td>	<td>	Quantic Dream	</td>	<td>	NS	</td>	<td>	91	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Postal Redux	</td>	<td>	MD Games	</td>	<td>	PS4	</td>	<td>	90	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Two Point Hospital: Jumbo Edition	</td>	<td>	Sega	</td>	<td>	NS, PS4, XBO	</td>	<td>	90	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Apex Legends	</td>	<td>	Electronic Arts	</td>	<td>	NS	</td>	<td>	90	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Gensou Skydrift	</td>	<td>	Phoenixx	</td>	<td>	PS4	</td>	<td>	90	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Stronghold: Warlords	</td>	<td>	Firefly Studios	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Monster Energy Supercross: The Official Videogame 4	</td>	<td>	Milestone	</td>	<td>	Win, PS4, PS5, XBO, XSX, Stadia	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	A-Train: All Aboard! Tourism	</td>	<td>	Artdink	</td>	<td>	NS	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Crash Bandicoot 4: It's About Time	</td>	<td>	Activision	</td>	<td>	NS, PS5, XSX	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Kingdoms of Amalur: Re-Reckoning	</td>	<td>	THQ Nordic	</td>	<td>	NS	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Mundaun	</td>	<td>	MVM Interactive	</td>	<td>	Win, Mac, NS, PS4, PS5, XBO, XSX	</td>	<td>	97	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	R.B.I. Baseball 21	</td>	<td>	MLB Advanced Media	</td>	<td>	Win, NS, PS4, PS5, XBO, XSX	</td>	<td>	94	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Samurai Shodown	</td>	<td>	SNK	</td>	<td>	XSX	</td>	<td>	92	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Saviors of Sapphire Wings and Stranger of Sword City Revisited	</td>	<td>	NIS America	</td>	<td>	Win, NS	</td>	<td>	92	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Stubbs the Zombie in Rebel Without a Pulse	</td>	<td>	Aspyr	</td>	<td>	NS, PS4, XBO	</td>	<td>	92	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Undertale	</td>	<td>	Tobyfox	</td>	<td>	XBO, XSX	</td>	<td>	92	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	In Rays of the Light	</td>	<td>	Sometimes You	</td>	<td>	NS, PS4, PS5, XBO	</td>	<td>	91	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	DARQ: Complete Edition	</td>	<td>	Feardemic	</td>	<td>	NS	</td>	<td>	91	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Caravan Stories	</td>	<td>	Aiming Inc.	</td>	<td>	NS	</td>	<td>	91	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Gloria Union: Twin Fates in Blue Ocean FHD Edition	</td>	<td>	Atlus	</td>	<td>	NS, iOS, Droid	</td>	<td>	91	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Jack Jeanne	</td>	<td>	Broccoli	</td>	<td>	NS	</td>	<td>	91	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	The Legend of Heroes: Trails of Cold Steel IV	</td>	<td>	Nippon Ichi Software	</td>	<td>	NS	</td>	<td>	90	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Maglam Lord	</td>	<td>	D3 Publisher	</td>	<td>	NS, PS4	</td>	<td>	90	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Marvel's Avengers	</td>	<td>	Square Enix	</td>	<td>	PS5, XSX	</td>	<td>	90	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Can't Drive This	</td>	<td>	Pixel Maniacs	</td>	<td>	Win, NS, PS4, PS5, XBO, XSX	</td>	<td>	90	</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Plants vs. Zombies: Battle for Neighborville – Complete Edition	</td>	<td>	Electronic Arts	</td>	<td>	NS	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Root Film	</td>	<td>	PQube	</td>	<td>	NS, PS4	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Vaporum: Lockdown	</td>	<td>	Fatbot Games	</td>	<td>	NS	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Overcooked! All You Can Eat	</td>	<td>	Team17	</td>	<td>	Win, NS, PS4, XBO	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Puyo Puyo Tetris 2	</td>	<td>	Sega	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Story of Seasons: Pioneers of Olive Town	</td>	<td>	Xseed Games	</td>	<td>	NS	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Paradise Lost	</td>	<td>	All in! Games	</td>	<td>	Win, PS4, XBO	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Love Live! School Idol Festival: After School Activity Wai-Wai! Home Meeting!!	</td>	<td>	Square Enix	</td>	<td>	PS4	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Tales from the Borderlands	</td>	<td>	2K	</td>	<td>	NS	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Black Legend	</td>	<td>	Warcave	</td>	<td>	Win, NS, PS4, PS5, XBO, XSX	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Evil Inside	</td>	<td>	JanduSoft	</td>	<td>	Win, NS, PS4, PS5, XBO, XSX	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Dandy Ace	</td>	<td>	Neowiz	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	DARQ: Complete Edition	</td>	<td>	Feardemic	</td>	<td>	PS5, XSX	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Yakuza 6: The Song of Life	</td>	<td>	Sega	</td>	<td>	Win, XBO	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Balan Wonderworld	</td>	<td>	Square Enix	</td>	<td>	Win, NS, PS4, PS5, XBO, XSX	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Crash Bandicoot 4: It's About Time	</td>	<td>	Activision	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	It Takes Two	</td>	<td>	Electronic Arts	</td>	<td>	Win, PS4, PS5, XBO, XSX	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Kaze and the Wild Masks	</td>	<td>	Soedesco	</td>	<td>	Win, NS, PS4, XBO, Stadia	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Monster Hunter Rise	</td>	<td>	Capcom	</td>	<td>	NS	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Subverse	</td>	<td>	FOW Interactive	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Tony Hawk's Pro Skater 1 + 2	</td>	<td>	Activision	</td>	<td>	PS5, XSX	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Spacebase Startopia	</td>	<td>	Kalypso Media	</td>	<td>	Win, NS, PS4, XBO	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Record of Lodoss War: Deedlit in Wonder Labyrinth	</td>	<td>	Playism	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Neptunia Virtual Stars	</td>	<td>	Idea Factory International	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Disco Elysium: The Final Cut	</td>	<td>	ZA/UM	</td>	<td>	Win, Mac, PS4, PS5, Stadia	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Evil Genius 2: World Domination	</td>	<td>	Rebellion Developments	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Kingdom Hearts HD 1.5 Remix	</td>	<td>	Square Enix	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Kingdom Hearts HD 2.5 Remix	</td>	<td>	Square Enix	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Kingdom Hearts HD 2.8 Final Chapter Prologue	</td>	<td>	Square Enix	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Kingdom Hearts III + Re Mind	</td>	<td>	Square Enix	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Kingdom Hearts: Melody of Memory	</td>	<td>	Square Enix	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Narita Boy	</td>	<td>	Team17	</td>	<td>	Win, NS, PS4, XBO	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	Rogue Company	</td>	<td>	Hi-Rez Studios	</td>	<td>	PS5	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
<tr>	<td>	The Binding of Isaac: Repentance	</td>	<td>	Nicalis	</td>	<td>	Win	</td>	<td>		</td>	<td>	Mar-21	</td>	</tr>
																
<tr>	<td>	Fighting EX Layer: Another Dash	</td>	<td>	Arika	</td>	<td>	NS	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Outriders	</td>	<td>	Square Enix	</td>	<td>	Win, PS4, PS5, XBO, XSX, Stadia	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Resident Evil 7: Biohazard	</td>	<td>	Capcom	</td>	<td>	Stadia	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Lost Words: Beyond the Page	</td>	<td>	Modus Games	</td>	<td>	Win, NS, PS4, XBO	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Oddworld: Soulstorm	</td>	<td>	Oddworld Inhabitants	</td>	<td>	Win, PS4, PS5	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Star Wars: Republic Commando	</td>	<td>	Aspyr	</td>	<td>	NS, PS4	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Pac-Man 99	</td>	<td>	Bandai Namco Entertainment	</td>	<td>	NS	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Before Your Eyes	</td>	<td>	Skybound Games	</td>	<td>	Win	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Island	</td>	<td>	Prototype	</td>	<td>	NS	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	The Legend of Heroes: Trails of Cold Steel IV	</td>	<td>	NIS America	</td>	<td>	Win, NS	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Poison Control	</td>	<td>	NIS America	</td>	<td>	NS, PS4	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Tasomachi: Behind the Twilight	</td>	<td>	Playism	</td>	<td>	Win	</td>	<td>	97	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	SaGa Frontier Remastered	</td>	<td>	Square Enix	</td>	<td>	Win, NS, PS4, iOS, Droid	</td>	<td>	94	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Shadow Man Remastered	</td>	<td>	Nightdive Studios	</td>	<td>	Win	</td>	<td>	92	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Stitchy in Tooki Trouble	</td>	<td>	Polygoat	</td>	<td>	NS	</td>	<td>	92	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Super Meat Boy Forever	</td>	<td>	Team Meat	</td>	<td>	PS4, XBO	</td>	<td>	92	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	MLB The Show 21	</td>	<td>	Sony Interactive Entertainment	</td>	<td>	PS4, PS5, XBO, XSX	</td>	<td>	92	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Atelier Mysterious Trilogy Deluxe Pack	</td>	<td>	Koei Tecmo	</td>	<td>	Win, NS, PS4	</td>	<td>	91	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	MotoGP 21	</td>	<td>	Milestone	</td>	<td>	Win, NS, PS4, PS5, XBO, XSX, Stadia	</td>	<td>	91	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	ScourgeBringer	</td>	<td>	Dear Villagers	</td>	<td>	PS4, PSVita	</td>	<td>	91	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Smelter	</td>	<td>	Dangen Entertainment	</td>	<td>	Win, NS, PS4, XBO	</td>	<td>	91	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Wonder Boy: Asha in Monster World	</td>	<td>	G Choice	</td>	<td>	Win, NS, PS4	</td>	<td>	91	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Wraith: The Oblivion – Afterlife	</td>	<td>	Fast Travel Games	</td>	<td>	Win, Droid	</td>	<td>	90	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Judgment	</td>	<td>	Sega	</td>	<td>	PS5, XSX, Stadia	</td>	<td>	90	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Nier Replicant ver.1.22474487139...	</td>	<td>	Square Enix	</td>	<td>	Win, PS4, XBO	</td>	<td>	90	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Death end re;Quest	</td>	<td>	Idea Factory International	</td>	<td>	NS	</td>	<td>	90	</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Genshin Impact	</td>	<td>	MiHoYo	</td>	<td>	PS5	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	R-Type Final 2	</td>	<td>	Granzella	</td>	<td>	NS, PS4, XBO, XSX	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Total War: Rome Remastered	</td>	<td>	Sega	</td>	<td>	Win, Mac, Lin	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	New Pokémon Snap	</td>	<td>	The Pokémon Company / Nintendo	</td>	<td>	NS	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Returnal	</td>	<td>	Sony Interactive Entertainment	</td>	<td>	PS5	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	R-Type Final 2	</td>	<td>	NIS America	</td>	<td>	Win, NS, PS4, XBO, XSX	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
<tr>	<td>	Terminator: Resistance Enhanced	</td>	<td>	Reef Entertainment	</td>	<td>	PS5	</td>	<td>		</td>	<td>	Apr-21	</td>	</tr>
																
<tr>	<td>	Dragon Quest Builders 2	</td>	<td>	Square Enix	</td>	<td>	XBO	</td>	<td>	91	</td>	<td>	May-21	</td>	</tr>
<tr>	<td>	Wreckfest	</td>	<td>	THQ Nordic	</td>	<td>	PS5	</td>	<td>	91	</td>	<td>	May-21	</td>	</tr>
<tr>	<td>	Skate City	</td>	<td>	Snowman	</td>	<td>	Win, NS, PS4, XBO	</td>	<td>	91	</td>	<td>	May-21	</td>	</tr>
<tr>	<td>	Resident Evil Village	</td>	<td>	Capcom	</td>	<td>	Win, PS4, PS5, XBO, XSX, Stadia	</td>	<td>	91	</td>	<td>	May-21	</td>	</tr>
<tr>	<td>	Hood: Outlaws and Legends	</td>	<td>	Focus Home Interactive	</td>	<td>	Win, PS4, PS5, XBO, XSX	</td>	<td>	91	</td>	<td>	May-21	</td>	</tr>
<tr>	<td>	Call of the Sea	</td>	<td>	Raw Fury	</td>	<td>	PS4, PS5	</td>	<td>	91	</td>	<td>	May-21	</td>	</tr>

                </tbody>
            </table>
        </div>

        <script type="text/javascript">
        dTable = $('#myTable').DataTable({
            "bLengthChange": false, // this gives option for changing the number of records shown in the UI table
            "lengthMenu": [4], // 4 records will be shown in the table
            "columnDefs": [{
                    "className": "dt-center",
                    "targets": "_all"
                } //columnDefs for align text to center
            ],
            "dom": "lrtip" //to hide default searchbox but search feature is not disabled hence customised searchbox can be made.
        });
     
        $('#myCustomSearchBox').keyup(function() {
            dTable.search($(this).val()).draw(); // this  is for customized searchbox with datatable search feature.
        })
    </script>