
{{> post-info post }}

{{> comments post }}

{{#if loggedIn}}
<form class="comment-form">
    <h4>Leave your own comment: </h4><br>
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">Like</button>
  </div>
</form>
{{/if}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/like.js"></script>
{{/if}}