* {
  box-sizing: border-box;
}
.jumbotron {
  background-image: url(/assets/Gamesters.png);
  margin: 0 auto;
  background-position: center;
  height: 300px;
  width: 500px;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #50b3ff;
  font-family: sans-serif;
  color: #333;
}
.center {
  margin: auto;
  width: 100%;
  border: 3px solid #040700;
  padding: 10px;
  text-align: center;
}
nav, a {
  padding-right: 20px;
  padding-left: 20px;
}
#post-url textarea {
  resize: none;
}


a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color .1s;
}
img1 {
  height: 65px;
  width: 290px;
}
img2 {
  height: 65px;
  width: 135px;
}
img3 {
  height: 20px;
  width: 50px;
  
}
 

a:hover {
  color: #0277fc;
  text-decoration: none;
}

button {
  background-color: #101214;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #96ee8e;
  color: #f1efef;
}
.btn-default:hover {
  background-color: #e96a6a;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #ffffff;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}
.container-fluid {
  justify-content: center;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;

}

header {
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  background-color: #293341;
  
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #fdfdfd;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 10px;
}


.btn-no-style:hover {
  background: none;
  color: #0277fc;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  color: rgb(5, 0, 0);
}

.post .title span {
  font-size: 90%;
  color: rgb(37, 37, 37);
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}
.btn-primary {
  background-color: #f5f5f5;
  color: black;
}
.btn-primary:hover {
  background-color: #96ee8e;

}
div .fucking {
  padding-left: 20%;
  border: 2px solid black;
}
div .fucking2 {
  padding-left: 20%;
}
label {
  width: 100%;
}
.form-control {
  width: 80%;
}
footer {
  border-top: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  color: #ccc;
  background-color: #293341;
  
}